.footer {
  background-color: $bgc-dark-gray;

  &-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    &-container {
      display: flex;
    }
  }
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: flex;
    align-items: top;
    justify-content: center;
  }
}
