.mob-menu-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $color-on-dark-accent-bg;
}

.is-open {
  opacity: 1;
  pointer-events: visible;
}

.mob-menu-container {
  padding: 48px 40px;
}

.nav-list-mob__item:nth-child(2) {
  margin-top: 36px;
  margin-bottom: 32px;
}

.nav-list-mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $title-color;

  &_current {
    color: $accent-color;
  }
}

.contacts-mob-container {
  position: absolute;
  left: 40px;
  bottom: 48px;
}

.contacts-mob__item_tel {
  margin-bottom: 32px;
}

.contacts-mob__item_mail {
  margin-bottom: 64px;
}

.contacts-mob__link_tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $accent-color;
}

.contacts-mob__link_mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $text-color;
}

.socials-mob {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu-container {
    display: none;
  }
}
