.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  color: $color-on-dark-accent-bg;
  cursor: pointer;

  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-btn-hover;
  }

  &-mob-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 40px;
    height: 40px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &-hero,
  &-modal,
  &-subscribe {
    background-color: $accent-color;
  }

  &-hero {
    padding: 10px 32px;
  }

  &-modal {
    padding: 10px 56px;
  }

  &-subscribe {
    display: flex;
    align-items: center;
    padding: 10px 29px;

    &__icon {
      margin-left: 10px;
      fill: $color-on-dark-accent-bg;
    }
  }
}

.filter-list__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-color;
  background-color: $bgc-light-gray;

  &:focus,
  &:hover {
    color: $color-on-dark-accent-bg;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
