.clients-list {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $accent-color;

      .clients-list__icon,
      .clients-list__icon {
        fill: $accent-color;
      }
    }
  }

  &__icon {
    fill: $socials-icon-light-gray;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    &__item {
      width: calc((100% - 60px) / 2);
      margin-top: 30px;
      margin-left: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    &__item {
      width: calc((100% - 90px) / 3);
      margin-top: 30px;
      margin-left: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;

    &__item {
      width: calc((100% - 180px) / 6);
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}
