.nav-menu {
  display: flex;
  align-items: center;
}

.contacts-list {
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  &__icon {
    margin-right: 10px;
    fill: $text-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    &__link {
      font-size: 14px;
      line-height: 1.14;

      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;

    .contacts-list__icon {
      fill: $accent-color;
    }
  }
}
