.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__item {
    margin-top: 15px;
  }
}

// .filter-list {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;

//   &__item:not(:last-child) {
//     margin-right: 8px;
//   }
// }
