.socials-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-on-dark-accent-bg;
}

@media screen and (max-width: 767px) {
  .socials-section {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socials-section {
    text-align: center;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .socials-section {
    padding-top: 12px;
    margin-left: 70px;
  }
}
