.nav-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  margin-left: 88px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-list__link_current {
  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
