.subscribe-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .input-btn-container {
    display: flex;
    width: 570px;
  }

  .subscribe-form {
    margin-left: 93px;
    padding-top: 12px;
    text-align-last: left;
  }
}

.subscribe-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-on-dark-accent-bg;
}

.subscribe-input {
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: $color-on-dark-accent-bg;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
